<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libplctag" version="1.0.13" targetFramework="net472" />
  <package id="libplctag.NativeImport" version="1.0.31" targetFramework="net472" />
  <package id="Sharp7" version="1.1.79" targetFramework="net472" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net472" />
</packages>